@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&display=swap");

.thank-you__container {
	background-color: rgba(243, 243, 243, 1);
	padding-bottom: 10rem;
}

.bg__img__container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

img {
	border: 0;
	outline: none;
	width: 70vw;
	object-fit: cover;
	height: 80%;
}

.thank-you__text {
	letter-spacing: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.thank-you__text h1 {
	font-family: "Baloo Da 2", cursive;
}

/* CSS */
.button-85 {
	font-family: "Baloo Da 2", cursive;
	letter-spacing: 0.3rem;
	padding: 0.8em 2.5em;
	border: none;
	outline: none;
	color: #333;
	font-weight: 800;
	background: rgba(243, 243, 243, 1);
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-85:before {
	content: "";
	background: linear-gradient(
		45deg,
		#ff0000,
		#ff7300,
		#fffb00,
		#48ff00,
		#00ffd5,
		#002bff,
		#7a00ff,
		#ff00c8,
		#ff0000
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing-button-85 20s linear infinite;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}

@keyframes glowing-button-85 {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.button-85:after {
	z-index: -1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(243, 243, 243, 1);
	left: 0;
	top: 0;
	border-radius: 10px;
}

@media only screen and (max-width: 960px) {
	/* .thank-you__container {
        height: 100vh;
    } */

	.bg__img__container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 57vh;
	}

	img {
		border: 0;
		outline: none;
		width: 95vw;
		height: 90%;
		object-fit: cover;
        margin-top: 10rem;
	}

    .thank-you__text {
        margin-top: 5rem;
    }
}

@media only screen and (max-width: 768px) {
	.bg__img__container {
		height: 50vh;
        padding-top: 7rem;
	}

	.button-85 {
		padding: 0.1em 0.2em;
	}

	.button-85:before {
		width: 50%;
		height: 50%;
	}
}

@media only screen and (max-width: 560px) {
	.bg__img__container {
		height: 50vh;
        padding-top: 0;
        /* width: 90vw; */
	}

    .thank-you__text h1 {
	font-size: 1rem;
}

}
